{% load static %}
<html>
    <head>
      <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">


        <title>
            HOME
        </title>
        <script src="https://kit.fontawesome.com/1d7bc52942.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
  function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}

</script>

<link href="{% static 'webcore/home2.css' %}" rel="stylesheet">

    </head>
    <body>
    <div id="main">
      <div class="topnav">
        <b> <a href="#dgdf"><span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776;</span></a></b>
        <b> <a href="{% url 'home' %}">DASHBOARD<br><br><i class="fas fa-home"></i></a></b>
         <a href="#news">ACCOUNT<br><br><i style="size: 20px;" class="fas fa-user-circle"></i></a>
         <a href="#contact">CONTACT<br><br><i class="fas fa-id-card-alt"></i></a>
         <a style="position: relative;left: 70%;" class="ri" href="#about">ABOUT</a>
         
       </div>
       <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'create-website' %}">New website</a>
        {% for o in a %}
        <a href="{% url 'objectinfo' o.hname %}" >{{ o.hname|title }}</a>
        {% endfor %}
      </div>
<div class="info">
  <div class="topinfo"><i class="fas fa-chart-area"></i></div>
 <br>
   Name:  {{ request.user|title }}<br><br>
   Webistes Migrated: {{ webno }}<br><br>
   Pages Maintained:  {{ pagno }}<br><br>
   Media uploaded: {{ midno }}  <br><br>
</div>

     <!--  <ul class="websites">
           {% for i in a %}
                <li><a class="webs" href="#ddfs">{{ i.hname }}</a></li>
           {% endfor %}     
       </ul>   -->
<div class="media">
 <div style="position: relative;width: 100%;background-color: rgb(255, 255, 255);color: blue;margin: 0%;top: 0%;height: 100px;line-height: 100px;font-size: 30px;"> MEDIA</div><br><br>
  <div style="background-color: black;opacity: 1;position: relative;top: 20%;">
  
       {% for i in midia %}
       {% if i.resourcetype == "image" %}
     
      <a href="{{ i.med }}" ><img style="border-radius: 5px;background-color: black;opacity: 1;" src="{{ i.med }}" height="200" width="250"></a> 
       {% else %}
       <video width="200" height="200" onclick="addpic('{{ i.med }}')" controls>
         <source src="{{ i.med }}" type="video/mp4">
         <source src="{{ i.med }}" type="video/webm">
       Your browser does not support the video tag.
       {% endif %}
       {% if resourcetype == "audio" %}
       <audio controls>
         <source src="{{ i.med }}" type="audio/ogg">
         <source src="{{ i.med }}" type="audio/mpeg">
       Your browser does not support the audio element.
       </audio>
       {% endif %}
     
       </video>
       
       {% endfor %}
      </div>
       </div>
       <!-- <img height="100" width="200" src="{% static 'webcore/ss.png' %}"> -->
       
    </body>
</html>