<html>
<head>
<title>
  login
</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<script src="https://kit.fontawesome.com/1d7bc52942.js" crossorigin="anonymous"></script>
<style>
.decloc {
  position: absolute;
  left: 35%;
  text-align: center;
  height: 500px;
  width: 400px;
  background-color: rgb(22, 2, 37);
  padding: 40px;
  opacity: 0.5;
  border-radius: 10px;
}


.tdecloc {
  color: azure;
}
</style>
</head>
<body>
  <body>
{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<br><br><br>
<div class="decloc">
  <div class="tdecloc">
<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <button style="background-color: rgb(14, 88, 207);width: 300px;padding-top: 12px;padding-bottom: 12px;border-radius: 7px;opacity: 1;" class="primaryAction" type="submit">{% trans "Sign In" %}   <i class="fas fa-sign-in-alt"></i></button><br>
 <br><br> <a style="color: rgb(255, 0, 0);" class="button secondaryAction" href="{% url 'account_reset_password' %}"><b>{% trans "Forgot Password?" %}</b></a>
</form>
<br><br>
<p>{% blocktrans %}If you have not created an account yet, then please do
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endblock %}
</div>
</div>
</body>
</html>